.selection {
	background-color: grey;
	height: 100%;
	overflow-y: hidden;	
}

html, body {
	text-align: center;
	margin: 0;
}

.result {
	height: 83%;
	position: fixed;
	background-image: url("https://38.media.tumblr.com/tumblr_lr4nntl2Er1qhq1pjo1_500.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}